:root {
    --orange: #FA9665;
    --light: #FDF4F1;
    --green: #28502E;
    --purple: #62466B;
    --blue: #337CA0; 
    --shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.green {
    background: var(--green);
    color: #FFFFFF;
}
.purple {
    background: var(--purple);
    color: #FFFFFF;
}
.blue {
    background: var(--blue);
    color: #FFFFFF;
}
.light {
    background: var(--light);
}
.orange {
    background: var(--orange);
}
html {
    max-width: 1920px;
    margin: auto;
}
body {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-family: 'Bruno Ace', cursive;
    font-size: 32px;
    margin: 0;
}
h2 {
    font-family: 'Overpass Mono', monospace;
    background: var(--orange);
    position: relative;
    left: -16px;
    padding: 4px 16px;
    width: 100%;
    margin: 0;
}
h3 {
    font-weight: 700;
    margin: 0
}

a {
    color: black;
    text-decoration: none;
}

i {
    font-size: 24px;
}
.button {
    background: var(--orange);
    padding: 16px;
    border-radius: 16px;
    border: none;
    font-weight: 700;
    width: max-content;
    height: fit-content;
    box-shadow: var(--shadow); 
}

.text-block {
    margin: 16px;
    
}
.image-text-block {
    display: grid;
}
section {
    padding: 1em;
}
.two-columns {
    display: grid;
    gap: 1em;
}
.rows {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Header*/
header {
    background: var(--light);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: inherit;
    padding: 1em;
    max-width: 80em;
    margin: auto;
}
.header-content {
    font-weight: 700;
    display: flex;
    gap: 1em;
    justify-content: end;
    align-items: center;
    background: inherit;
}

.status-content {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: baseline;
    border: solid 1px var(--orange);
    border-radius: 8px;
    padding: 6px 16px;
}
.status-content p {
    margin: 0;
}
.closing-time {
    flex: 1;
    text-align: end;
}

.status-content > .green {
    border-radius: 0.5em;
    padding: 2px 1em;
}
.header-cta {
    padding: 6px;
    border: solid 1px var(--orange);
    border-radius: 8px;
}
.logo img {
    width: 120px;
}

nav,
.status,
#menu-checkbox,
#search-checkbox {
    display: none;
    background: inherit;
}

nav >* {
    margin: 1em;
}
nav li {
    display: block;
    margin: 1em 0;
}
nav ul {
    padding: 0;
}
nav a {
    display: block;
    background: var(--orange);
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#menu-checkbox:checked ~ nav {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    z-index: 1;
}
.search-box {
    display: flex;
    position: relative;
    justify-content: end;
    background: inherit;
}
.search-icon {
    z-index: 2;
}
.search {
    width: 0;
    position: absolute;
    background: inherit;
    padding: 0.5em 0;
    border: none;
    overflow: hidden;
    transition: all 1s ease-in;

}

#search-checkbox:checked ~ .search{
    border-bottom: solid 1px;
    width: 100%;
}
/* Footer */

.newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 1em;
}
.subscribe {
    background: #FFFFFF;
    border-radius: 1em;
    padding: 0.2em;
}
#email {
    border: none;
    height: 3em;
}
.footer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.social-media_icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 0.5em;
    padding: 0.5em;
}
/* Index */
.hero {
    background-image: url(../images/Enterance.jpg);
    background-color: #00000069;
    height: 200px;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero h1 {
    grid-column: 1/3;
    color: var(--orange);
}
.hero p {
    font-family: 'Overpass Mono', monospace;
    font-size: 20px;
    color: #FFFFFF;
    place-self: center left;
}
.hero a {
    place-self: center;
}
.hero img {
    display: none;
}
.intro {
    display: grid;
    gap: 1em;
    padding: 1em;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    height: 200px;
    background-size: contain;
}
.wrapper p {
    max-width: 300px;
}
.highlighted {
    background-image: url(../images/Mammoth_big.jpg);
}
.intro-robotics-ai {
    background-image: url(../images/Robot.jpg);
}
.intro-cosmology {
    background-image: url(../images/Astronaut.jpg);
}
.info-box {
    width: calc(100% - 200px);
    min-width: 160px;
    padding: 0.5em;
    background: var(--light);
}

.wrapper a {
    display: none;
}




 
.intro-image {
    margin: 16px 0;
}
.intro-image img {
    max-width: 100%;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    background-color: var(--light);
}
.article > h3 {
    padding: 16px;
    text-align: center;
}
.article > p {
    flex: 1;
    padding: 0 1em;
}
.article div {
    height: 240px;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column-reverse;
}
.tag {
    width: fit-content;
    margin: 4px 8px;
    padding: 4px;
    border-radius: 8px;
}
.rocket-race {
    background: url(../images/Children_building_rocket.jpg);
}
.night-museum {
    background: url(../images/Dinosaur.jpg);
}
.aeronautics {
    background: url(../images/Sheila_widnall.jpg)
}
/* About*/
.image-text-blocked {
    display: grid;
}
.text-blocked {
    margin: 0 1em;
    background: #FFFFFF;
    position: relative;
    top: -2em;
    box-shadow: var(--shadow);
    padding: 1em;
}
.practical {
    margin: 16px;
    justify-content: space-between;
}
.map {
    width: 100%
}

.food,
.shop {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.food {
    background-image: url(../images/Cafe_workers.jpg);
}
.shop {
    background-image: url(../images/Toy.jpg);
}
.cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.center {
    margin: 16px 25%;
}

/* Contact*/
.contact section {
    padding: 1em;
}
.get-involved {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact-us {
    display: grid;
    gap: 16px;
    background: var(--light);
}
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}
.contact-info div {
    display: flex;
    align-items: center;
    gap: 1em;
}
.contact-form {
    padding: 1em;
    background: var(--light);
    box-shadow: var(--shadow);
    gap: 0.5em;
}
.get-involved-points {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.get-involved-points h3 {
    width: fit-content;
    position: relative;
    padding: 4px 16px;
    left: -16px;
}
/* Explore*/

.explore {
    background-image: url(../images/explore_bg.jpeg);
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #0F1D2A;
    color: #FFFFFF;
    padding: 16px;
    display: grid;
    gap: 8px;
}
.explore-header {
    background: #0F1D2A;
    color: #FFFFFF;
}
.explore-header a {
    color: #FFFFFF;
}
.explore-header nav {
    background: #0F1D2A;
}

:is(.cosmology , .biology , .evolution ) {
    justify-self: end;
}
.explore h2 {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    background: none;
}
.explore-info {
    padding: 16px;
    width: 200px;
    border-radius: 8px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.explore-info p {
    margin: 0;
}
.heading {
    box-shadow: none;
}
.long-text {
    display: none;
}

/* School*/
.school-hero {
    position: relative;
    margin: auto;
}
.school-hero h1 {
    position: absolute;
    right: 0;
    font-size: 32px;
    margin: 16px;
    text-align: end;
    color: var(--orange)
}
.school-hero img {
    max-width: 100%;
}
input[type="radio"] {
    display: none;
    /* to general, need to narrow down*/
}
.school {
    padding: 1em;
    display: none;
}
.select-class {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.select-class label {
    width: -webkit-fill-available;
    text-align: center;
    padding: 16px
}
.select-class label:hover {
    text-decoration: underline;
}

#primary-checkbox:checked ~ .primary{
    display: block;
}
#middle-checkbox:checked ~ .middle{
    display: block;
}
#secondary-checkbox:checked ~ .secondary{
    display: block;
}
/* Evolution*/
.evolution-html {
    scroll-snap-type: y mandatory;
    background: var(--light);
}
.evolution-html header,
.evolution-html footer {
    scroll-snap-align: start;
}

.evolution div {
    background-size: cover;
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.evolution-info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    box-shadow: inset 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.evolution p {
    margin: 0;
}
.dinosaur {
    background-image: url(../images/dinosaurs.jpg);
    background-position: center;
}
.human {
    background-image: url(../images/cavemen.jpg);
    background-position: left;
}
.future {
    background-image: url(../images/robotics-desktop.jpg);
    background-position: right;
}
.evolution-general {
    background-image: url(../images/Mammoth_small.jpg);
    background-position: center;
}
.evolution h2 {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    background: none;
}

@media (min-width: 600px) {
    h2 {
        max-width: 500px;
        width: fit-content;
    }
    .two-columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .text-block {
        max-width: 500px;
    }
    .image-text-block {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .text-block h2 {
        width: 100%;
    }
    section {
        max-width: 80em;
        margin: auto;
    }
    .light-background {
        background: var(--light);
    }

    /* Header*/

    .header-content {
        align-items: baseline;
    }
    nav {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1em;
    }
    .search-box {
        align-self: center;
    }
    #search-checkbox:checked ~ .search{
        width: 23em;
    }
    nav >* {
        margin: 0;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding: 0;
    }
    nav a {
        display: contents;
    }
    .status-content {
        grid-column: 1/3;
    }
    .hamburger-icon {
        display: none;
    }
    /* Footer */
    /* Index */
    .hero-background {
        background: linear-gradient(var(--light),#FFFFFF); 
    }
    .hero {
        height: 700px;
        background: none;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        max-width: 80em;
        margin: auto;
    }
    .hero-images {
        grid-column: 2/4;
        grid-row: 1/3;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
    }
    .hero-images img {
        width: 100%;
        display: block;
        border-radius: 8px;
    }
    .hero h1 {
        grid-column: 1/3;
        grid-row: 1;
        align-self: center;
        font-size: 3em;
    }
    .hero p {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
        justify-self: left;
        color: black;
    }
    .hero a {
        grid-column: 1;
        grid-row: 2;
        place-self: unset;
    }
    .hero-image-one {
        grid-column: 1;
        grid-row: 1/3;
        align-self: center;
        justify-self: end;
    }
    .hero-image-two {
        grid-column: 2;
        grid-row: 1;
        align-self: end;
    }
    .hero-image-three {
        grid-column: 2;
        grid-row: 2;
        align-self: start;
    }

    .highlighted {
        grid-row: 1/3;
        height: 100%;
        flex-direction: column-reverse;
        position: relative;
        background-size: cover;
    }
    .highlighted .info-box {
        box-sizing: border-box;
        width: 100%;
        min-height: 100px;
    }
    .intro div {
        align-self: center;
        flex: 1;
    }
    
    .article-wrapper {
        flex-direction: row;
    }
    /* About*/
    
    .school-hero {
        margin: auto;
    }
    .flex-wrap {
        max-width: 80em;
        margin: auto;
    }
    /* Contact*/
    .get-involved-points {
        flex-direction: row;
    }
    /* Explore*/
    
    /* School*/
    
    
    .primary {
        background-image: url(../images/Children_building.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
    .school p {
        width: 33%;
    }
    /* Evolution*/
    .evolution-general {
        background-image: url(../images/Mammoth_big.jpg);
    }
    .evolution div {
        flex-direction: row;
        align-items: end;
    }
    .evolution-info {
        position: relative;
        width: 40%;
        margin: 16px;
    }
}
@media (min-width: 1000px) {
    .text-block {
        place-self: center;
    }
    .flex-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact section {
        padding: 5em;
    }
    .explore {
        grid-template-columns: 1fr 1fr;
    }
    .short-text {
        display: none;
    }
    .long-text {
        display: block;
    }
    :is(.cosmology , .robotics , .evolution , .heading) {
        justify-self: center;
    }
    .explore-info {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
    }
    .explore-info:hover {
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }
    .image-text-blocked {
        grid-template-columns: repeat(2,1fr);
        padding: 0 1em;
    }
    .text-blocked {
        left: -4em;
        top: 0;
        place-self: center;
    }
    .school-hero {
        margin: 1em 0;
    }
}
